### 1. Spring Boot & Maven (Backend) ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Maven 생성 파일 및 로그
dependency-reduced-pom.xml
release.properties
pom.xml.tag
pom.xml.next
pom.xml.releaseBackup
pom.xml.versionsBackup
*.log

# Spring Boot 실행 관련 (덤프 파일 등)
*.pid
*.hprof
*.log


### 2. React & Node.js (Frontend) ###
# Node modules (필수 제외)
node_modules/

# 빌드 결과물
build/
dist/

# Vite 캐시 추가
.vite/

# 환경변수 파일
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# 로그 파일
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Yarn PnP
.pnp
.pnp.js


### 3. IDE Settings ###

# Eclipse / STS
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans/
.sts4-cache/

# IntelliJ
.idea/
*.iws
*.iml
*.ipr
out/

# VS Code
.vscode/
*.code-workspace


### 4. OS System Files ###
.DS_Store
Thumbs.db

### 5. Security / SSL ###
*.p12
*.jks
*.keystore
src/main/resources/keystore/

### 6. API-Key Secret ###
application-secret.properties

### 7. Test Cache Files ###
# jqwik property-based testing database (local cache)
.jqwik-database
